# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

Some of the popular languages that Data Scientists use are:
* popular languages that Data Scientists use
* commonly used libraries used by Data Scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
| Jupyter Notebook |
| RStudio |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author 
Zohar